<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Evaluation Result</title>
</head>
<body>
    <h1>Student Evaluation Result</h1>
    
    <p>Result is {{isSuccess}}</p>

    <a href="/">Go Back to Evaluation Page</a>
</body>
</html>